.all-items-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    align-items: center;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}