
.flex-content {
    display: flex;
    justify-content: space-between;
    .price-value:first-child {
        margin-right: 10px;
    }
}

.discount-badge {
    position: absolute;
    top: 25px;
}

.discounted {
    text-decoration: line-through;
    text-decoration-color: red;
}